body{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background-color: #FFF0E0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 300px;
  height: 500px;
}

.cat-gif{
  margin-top: 20px;
}

.add-button{
  padding: 10px 60px;
  width: 270px;
  border-radius: 10px;
  border: none;
  background-color: rgb(69, 6, 6);
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}

.add-button:hover{
  transform: translateY(-2px);
  background-color: rgb(114, 16, 16);
}

.add-button:active{
  transform: translateY(1px);
  scale: 0.9;
}

.input-field{
  border: none;
  width: 230px;
  background-color: #F5D2C4;
  padding: 10px 15px;
  border-radius: 5px;
}

.items{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-inline: 20px;
}

.item{
  background-color: #F5D2C4;
  color: rgb(68, 68, 68);
  padding: 5px 10px;
  border-radius: 5px;
  flex-grow: 1; 
  text-align: center;
  cursor: pointer;
}

.item:hover{
  background-color: #dbac99;
}